@mixin menu-background($imagePath){
	background-image: image-url($imagePath);
	background-repeat: no-repeat;
	background-position: 50% 45%;
	background-size: cover;
	display: block;
}

.menu-golden-cury-coconut-rice {
	@include menu-background('menu/golden-curry-coconut-rice.jpg');
}