{{> header }}

<section id="hero" class="section section-hero">
	{{!-- <div class="menu menu-golden-cury-coconut-rice"></div>
	<div class="hero-description">
	</div> --}}

	<div class="hero-slide">
		<div id="hero-slide__container" class="hero-slide__container">
			{{!-- 

			<div class="slide-module current-slide-module">	

				<div class="slide-module current-slide-module">
					<img src="/assets/images/hero/' + menu[i].name + '.jpg" />
				</div>

			</div>

			<div class="slide-module next-slide-module">
			</div>

			<div class="slide-module next-slide-module">	
			</div>

			<div class="slide-module next-slide-module">	
			</div>

			<div class="slide-module next-slide-module">	
			</div>

			--}}
		</div>
		<a id="slide-left-button" class="slide-button" href="#"> > </a>
		<a id="slide-right-button" class="slide-button" href="#"> < </a>
	</div>

</section>

{{> footer }}