{{> header }}

<section id="hero" class="section section-hero">
	<div class="menu menu-golden-cury-coconut-rice"></div>
	<div class="hero-description">
		<h3>Golden Curry Coconut Rice</h3>
		<p>
			Wanna-E’s spicy chicken and potato curry. <br/>
			Served with coconut rice.
		</p>
		{{!-- <p>
			Wanna-E’s spicy chicken and potato curry.
			Served with coconut rice.
		</p> --}}
	</div>
</section>

{{> footer }}