
<section id="about" class="section section-about">
	<h2>
		About Us
	</h2>
	<div class="content">
		<div class="description">
			<p>
				Wanna-E food truck is founded by four food enthusiasts
				from Mandalay, Myanmar. Our passion is to
				deliver authentic hometown Mandalay foods to all
				food lovers in California.
			</p>

			<p>
				Mandalay, located at the center of Myanmar, is well
				known for its diverse culture and foods. Several
				decades ago immigrants from the Yunnan province of
				China came to Mandalay and have since helped influence
				and transform the cuisine that we love so much.
				This influence along with more with more subtle contributions
				from near by cultures such as India and
				Thailand come through in our style of Authentic Mandalay
				Food that we offer you.
			</p>

			<p>
				From our hometown to lovely California we sincerely
				welcome you to our food truck and find great pleasure
				in serving you the food of our homeland.
			</p>
			<p>
				Your friends @ Wanna-E
			</p>
		</div>
		
		<h1>
			“Our passion is to deliver
			authentic hometown
			Mandalay foods to all
			food lovers in California.”
		</h1>
	</div>
</section>