<footer>
	<div class="footer-text contact">
		<p><small>Phone: 650.438.4581</small></p>
		<p><small>Email: wannaesf@gmail.com</small></p>
	</div>
	<div class="footer-text legal">
		<p><small>2015 &copy; Wanna-e. All Rights Reserved.</small></p>
		<p><small>Web Development by <a href="http://richardtirta.com">Richard Tirta</a>.</small></p>
	</div>
</footer>