<header id="header" class="header">

	<a href="#" id="logo-wannae" class="logo-wannae">WANNA-E. Authenthic Mandalay Food</a>

	<div class="socials">
		<a id="icon-fb" class="social-icon icon-fb" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.wanna-e.com">Facebook</a>
		<a id="icon-tw" class="social-icon icon-tw" target="_blank" href="https://twitter.com/intent/tweet?text=I%20just%20had%20Wanna-E..&url=http%3A%2F%2Fwww.wanna-e.com%2F">Twitter</a>
		<a id="icon-em" class="social-icon icon-em" href="mailto:wannaesf@gmail.com">Email</a>
		{{!-- <a href="#">Instagram</a> --}}
	</div>
	
</header>Wanna-E, Authentic Mandalay Food.

<nav id="nav" class="nav">
	<a class="nav-buttons" data-id="1" href="#">Appetizer</a>
	<a class="nav-buttons" data-id="2" href="#">Entree</a>
	<a class="nav-buttons" data-id="3" href="#">Dessert</a>
	<a class="nav-buttons" data-id="4" href="#">Location</a>
	<a class="nav-buttons" data-id="5" href="#">About</a>
</nav>


{{!-- !!;pTf64z&p9 --}}