<header>

	<a href="#" class="logo-wannae">WANNA-E. Authenthic Mandalay Food</a>

	<div class="socials">
		<a id="icon-fb" class="social-icon icon-fb" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.wanna-e.com">Facebook</a>
		<a id="icon-tw" class="social-icon icon-tw" target="_blank" href="https://twitter.com/intent/tweet?text=Wanna-e%20is%20coming%20soon%20in%20February%2024%202015.&url=http%3A%2F%2Fwww.wanna-e.com%2F">Twitter</a>
		<a id="icon-em" class="social-icon icon-em" href="mailto:wannaesf@gmail.com">Email</a>
		{{!-- <a href="#">Instagram</a> --}}
	</div>
	
</header>

<nav><h1>Coming Soon, February 24 2015</h1></nav>


{{!-- !!;pTf64z&p9 --}}