
<section id="location" class="section section-location">
	<h2 class="section-head">
		Location
	</h2>
	
	<div class="calendar-container">
		<ul id="calendar-list" class="calendar-list"></ul>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=tds609u4bfn63lk30cmlfdetjk@group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="40%" frameborder="0" scrolling="no"></iframe>
	</div>

	<div class="map-container">
		<div id="location-map"></div>
	</div>
</section>