
<section id="appetizer" class="section section-menu section-appetizer">
	<h2 class="section-head">Appetizer</h2>

	<div id="menu-appetizer" class="menu-container menu-appetizer"></div>
</section>

<section id="entree" class="section section-menu section-entree">
	<h2 class="section-head">Entree</h2>
	
	<div id="menu-entree" class="menu-container menu-entree"></div>

</section>

<section id="dessert" class="section section-menu section-dessert">
	<h2 class="section-head">Dessert</h2>
	
	<div id="menu-dessert" class="menu-container menu-dessert"></div>

</section>