
html, body{
	background: $dark-gray;
	color: white;
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	&.noscroll {
		overflow: hidden;
	}
}

header {
	@extend .bg-header;
	@include tab-module;
	@include transition-quad;
	height: 200px;
	//height: 170px;
	z-index: 10;
	@include medium {
		top: 0;
	}
	.logo-wannae {
		@include transition-quad;
		margin: 25px auto;
		@include medium {
			margin: 10px auto;
		}
	}
	.socials {
		position: absolute;
		top: 0;
		right: 10px;
		.social-icon {
			display: inline-block;
			margin: 10px 5px; 
		}
	}
	.minimized & {
		height: 140px;
	}
}

nav {
	@extend .bg-walls;
	@include tab-module;
	@include transition-quad;
	height: 35px;
	margin-top: -25px;
	padding-top: 30px;
	text-align: center;
	z-index: 11;
	a {
		color: $dark-gray;
		font-family: 'Lobster', cursive;
		font-size: em(14);
		font-weight: bold;
		margin: 0 5px;
		@include medium {
			font-size: em(21);
			margin: 0 30px;
		}
		&.selected {
			text-decoration: underline;
		}
	}
	@include medium {
		margin-top: 0;
		top: 175px;
		.minimized & {
			top: 115px;
		}
	}
}

.section {
	width: 100%;
	height: 100%;
	height: calc(100% - 240px);
	overflow: hidden;
	position: relative;
	@include medium {
		height: calc(100% - 240px);
		padding-bottom: 45px;
	}
}

.section-head {
	border-top: 1px solid rgba(230,230,230,0.5);
	border-bottom: 1px solid rgba(230,230,230,0.5);
	color: rgb(230,230,230);
	min-height: 40px;
	height: 6%;
	padding-top: 6%;
	text-align: center;
	@include medium {
		//padding-top: 1%;
		display: none;
	}
}

footer {
	@include clearfix;
	@include tab-module;
	background: $dark-gray;
	border-top: 1px solid rgba(100,100,100,0.5);
	top: auto;
	bottom: 0;
	height: 110px;
	text-align: left;
	z-index: 10;
	@include medium {
		height: 45px;
	}
	.footer-text {
		margin-top: 5px;
		margin-left: 20px;
		@include medium {
			float: left;
		}
		&:last-child {
			@include medium {
				border-left: 1px solid rgba(150,150,150, 0.3);
				padding-left: 25px;
			}
		}
	}
}
