.section-hero {
	width: 100%;
	@include medium {
		margin-top: 240px;
	}
	.hero-slide {
		width: 100%;
		height: 100%;
	}
	.slide-module {
		@include transition-quad;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.menu-image {
			width: 100%;
			height: 100%;
		}
		.module-text {
			background: rgba(0,0,0,0.8);
			position: absolute;
			left: 0;
			bottom: 0;
			height : 70px;
			padding: 10px 0 5px 20px;
			width: 100%;
			z-index: 10;
			p {
				font-size: 12px;
				width: 320px;
				margin-top: 8px;
			}
		}
		&.prev-slide-module {
			transform: translate(-100%, 0);
			-webkit-transform: translate(-100%, 0);
		}
		&.current-slide-module {
			transform: translate(0,0);
			-webkit-transform: translate(0, 0);
		}
		&.next-slide-module {
			transform: translate(100%, 0);
			-webkit-transform: translate(100%, 0)
		}
	}
	.slide-button{
		position: absolute;
		font-size: 30px;
		color: white;
		font-weight: bold;
		top: 40%;
		opacity: 0.8;
		z-index: 9;
		&:hover {
			opacity: 1;
		}
		&.icon-arrow-left {
			left: 0.5%;
		}
		&.icon-arrow-right {
			right: 0.5%;
		}
	}
}

.section-menu {
	@include clearfix;
	height: auto;
	padding-bottom: 20px;
	@include medium {
		height: calc(100% - 285px);
	}
	@include large {
		height: calc(100% - 285px);
	}
	.menu-container {
		max-width: 1670px;
		height: 100%;
		margin: 0 auto;
	}
	.appetizer-module {
		background: rgb(50,50,50);
		float: left;
		position: relative;
		padding-bottom: 20px;
		width: 100%;
		overflow: hidden;
		&:nth-child(even) {
			background: rgb(40,40,40);
		}
		@include medium {
			width: 20%;
			height: 100%;
		}
		img {
			display: block;
			width: auto;
			height: 70%;
			margin: 0 auto;
			@media (orientation: portrait) { 
				height: auto;
				width: 100%;
			}
		}
		.module-text {
			padding: 10px 10px 0 10px;
		}
	}
	&.section-dessert{
		.menu-dessert {
			@include medium {
				width: 60%;
				margin: 0 auto;
			}
			.appetizer-module {
				@include medium {
					width: 33.3%;
				}
			}
		}
	}
}

.section-location {
	@include clearfix;
	.map-container {
		float: right;
		width: 50%;
		height: 100%;
	}
	#location-map{
		width: 100%;
		height: 100%;
	}
}

.section-about {
	background: rgba(0,0,0,0.9);
	min-height: 100%;
	min-height: calc(100% - 240px);
	height: auto;
	padding-bottom: 50px;
	&:after {
		background: image-url('hero/tea-leaf-salad-s.jpg');
		background-repeat: no-repeat;
		background-size: 120% auto;
		background-position: 0 50%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.content {
		@include clearfix;
		@include medium {
			width: 700px;
			margin: 2% auto;
		} 
	}
	.description {
		width: 300px;
		margin: 0 auto;
		@include medium {
			float: left;
		}
		p {
			line-height: 1.3;
			margin-top: 15px;
		}
	}
	h1 {
		width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		@include medium {
			float: left;
			margin-top: 100px;
			margin-left: 100px;
		}
	}
}