<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wanna-e</title>
		
		<meta name="description" content="Wanna-E, Authenthic Mandalay Food.">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<meta property="og:url" content="http://www.wanna-e.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Wanna-E" />
		<meta property="og:site_name" content="wannae" />
		<meta property="og:description" content="Wanna-E, Authentic Mandalay Food." />
		<meta property="og:image" content="https://www.wanna-e.com/assets/images/logo-wannae.png" />

		<link rel="stylesheet" href="assets/stylesheets/all.css">

	</head>
	<body>

		{{> body }}
	</body>
	
	<!-- build:js assets/javascripts/all.js -->
		<script src="../assets/javascripts/vendor/jquery.js"></script>
		<script src="../assets/javascripts/vendor/scroll-wheel.js"></script>
		<script src="../assets/javascripts/vendor/smooth-scroll.js"></script>
		
		<script src="../assets/javascripts/app/config/config.menu.js"></script>
		<script src="../assets/javascripts/app/config/config.location.js"></script>

		<script src="../assets/javascripts/app/main.js"></script>
		
		<script src="../assets/javascripts/app/controllers/controller.main.js"></script>
		<script src="../assets/javascripts/app/controllers/controller.hero.js"></script>
		<script src="../assets/javascripts/app/controllers/controller.scroll.js"></script>

		<script src="../assets/javascripts/app/views/view.hero.js"></script>
		<script src="../assets/javascripts/app/views/view.menu.js"></script>
		<script src="../assets/javascripts/app/views/view.scroll.js"></script>
		<script src="../assets/javascripts/app/views/view.map.js"></script>

	<!-- endbuild -->
</html>